* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #16213e;
}

/* class selectors */
.main-container {
  border: 5px solid #0f3460;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.header {
  text-align: center;
  color: white;
  margin: 1rem 0;
}

.project-list ul {
  display: flex;
  justify-content: space-evenly;
}

.project-list li {
  list-style-type: none;
}

.project-list a {
  text-decoration: none;
}

a:visited {
  color: #e94560;
}

a:hover {
  color: #533483;
}
