* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  border: 2px solid black;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.sidebar {
  border: 2px solid red;
}

.main-container {
  border: 2px solid blue;
}
