* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

/* sidebar */

.nav-container {
  width: 25%;
  max-width: 25%;
  border-right: 3px solid grey;
}

nav {
  width: 20%;
  position: fixed;
}

.sidebar h1 {
  color: #3b3939;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}

.sidebar li {
  list-style-type: none;
}

.sidebar a {
  text-decoration: none;
  color: #3b3939;
}

.topics li {
  border-top: 2px solid rgb(193, 193, 193);
  padding: 10px 20px;
}

.main-container {
  width: 75%;
  max-width: 75%;
}

.main-container section {
  padding: 30px 50px;
  line-height: 1.5;
}

.main-container h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

.main-container p {
  margin-bottom: 20px;
}

.main-container ul {
  padding-left: 60px;
  line-height: 1.5;
}

.main-container li {
  margin-bottom: 20px;
}

/* attributes */
.code-block {
  background-color: #efecec;
}

.V-spacing {
  margin-top: -50px;
}
